ace-editor
analysis-core	
analysis-model-api		
ansible	
ansicolor	
antisamy-markup-formatter	
apache-httpcomponents-client-4-api	
authentication-tokens		
blueocean	
blueocean-autofavorite
blueocean-bitbucket-pipeline	
blueocean-commons		
blueocean-config		
blueocean-core-js		
blueocean-dashboard		
blueocean-display-url
blueocean-events		
blueocean-git-pipeline		
blueocean-github-pipeline		
blueocean-i18n		
blueocean-jira		
blueocean-jwt		
blueocean-personalization		
blueocean-pipeline-api-impl		
blueocean-pipeline-editor		
blueocean-pipeline-scm-api		
blueocean-rest		
blueocean-rest-impl		
blueocean-web		
bouncycastle-api	
branch-api	
build-environment	
build-timeout
build-with-parameters
cloudbees-bitbucket-branch-source
cloudbees-folder	
command-launcher	
conditional-buildstep	
configuration-as-code		
configuration-as-code-groovy
copyartifact		
credentials	
credentials-binding	
cucumber-reports	
cucumber-slack-notifier	
cucumber-trends-report	
deploy	
description-setter	
display-url-api	
docker-commons	
docker-java-api	
docker-plugin		
docker-workflow	
durable-task		
email-ext		
envinject	
envinject-api	
extended-choice-parameter	
extensible-choice-parameter
favorite	
filesystem-list-parameter-plugin	
git	
git-client	
git-parameter	
git-server	
github	
github-api	
github-branch-source	
github-oauth	
github-organization-folder
gradle		
handlebars	
handy-uri-templates-2-api		
htmlpublisher	
jackson2-api
javadoc	
jdk-tool
jenkins-design-language		
job-dsl		
jquery	
jquery-detached		
jquery-ui		
jsch		
junit		
ldap		
list-git-branches-parameter		
lockable-resources	
mailer	
mapdb-api	
matrix-auth		
matrix-combinations-parameter	
matrix-project		
maven-plugin	
mercurial	
momentjs	
multiple-scms	
pam-auth	
Parameterized-Remote-Trigger	
parameterized-scheduler	
parameterized-trigger	
pipeline-build-step	
pipeline-github-lib	
pipeline-graph-analysis	
pipeline-input-step	
pipeline-milestone-step	
pipeline-model-api	
pipeline-model-declarative-agent	
pipeline-model-definition	
pipeline-model-extensions	
pipeline-rest-api	
pipeline-stage-step	
pipeline-stage-tags-metadata		
pipeline-stage-view		
plain-credentials	
preSCMbuildstep	
pretested-integration		
pubsub-light		
purge-job-history		
rbenv	
rebuild	
resource-disposer		
role-strategy		
ruby-runtime		
run-condition	
scm-api	
script-security		
seed		
slack		
sse-gateway		
ssh-credentials		
ssh-slaves		
structs	
subversion		
text-finder		
timestamper		
token-macro		
trilead-api	
uno-choice	
variant
warnings		
warnings-ng	
windows-slaves	
workflow-aggregator	
workflow-api		
workflow-basic-steps		
workflow-cps		
workflow-cps-global-lib	
workflow-durable-task-step	
workflow-job	
workflow-multibranch	
workflow-scm-step	
workflow-step-api	
workflow-support
ws-cleanup	