kind: Service
apiVersion: v1
metadata:
  name: bento-backend-{{tier}}
  namespace: {{tier}}
spec:
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
  selector:
    role: backend
    app: bento