apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: basic-ingress-{{tier}}
  annotations:
    kubernetes.io/ingress.global-static-ip-name: "{{tier}}-web-frontend-ip"
spec:
  backend:
    serviceName: bento-frontend-{{tier}}
    servicePort: 8080