apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: bento-ingress-{{tier}}
  annotations:
    kubernetes.io/ingress.global-static-ip-name: "{{tier}}-web-frontend-ip"
    networking.gke.io/managed-certificates: bento-certificate-{{tier}}
spec:
  rules:
  - http:
      paths:
      - path: /*
        backend:
          serviceName: bento-frontend-service-{{tier}}
          servicePort: 80
      - path: /v1/graphql/*
        backend:
          serviceName: bento-backend-service-{{tier}}
          servicePort: 8080