logs/
.classpath
target/
.classpath
.settings/
.project
.DS_Store
.factorypath
.vscode
.apt_generated
.apt_generated_tests
.idea
*.iml
.sts4-cache/*
logs/
src/main/resources/yaml/test-queries.1k.bento.yaml
