license_key: {{ newrelic_license_key }}
log_file: /var/log/newrelic-infra/newrelic-infra.log
display_name: {{collector_name}}
collector_url: {{newrelic_collector_url}}
identity_url: {{newrelic_identity_url}}
command_channel_url: {{newrelic_command_channel_url}}
