---
############################################################################################################################

#     Backend Build

############################################################################################################################

- name: get remote url
  shell: git config --get remote.origin.url
  register: git_url

- name: get latest tag number
  shell: "git ls-remote --refs --tags --sort=v:refname {{ git_url.stdout }} | cut -d '/' -f2- | grep {{ bento_api_version }}-{{ project }} | sed 's|.*-||' | tail -1"
  register: tags

- name: show tags
  debug:
    msg: "{{ tags.stdout }}"

- name: set build number
  set_fact:
    build_number: "{% if tags.stdout %}{{ tags.stdout|int + 1 }}{% else %}1{% endif %}"

- name: show build number
  debug:
    msg: "{{ build_number }}"

- name: get path
  command: pwd
  args:
    chdir: "../.."
  register: workspace

- name: remove the application_example.properties file 
  file:
    path: "{{ workspace.stdout }}/src/main/resources/application_example.properties"
    state: absent

- name: copy application.properties file to /src/main/resources/
  template:
    src: "{{ workspace.stdout }}/src/main/resources/application.properties.j2"
    dest: "{{ workspace.stdout }}/src/main/resources/application.properties"

- name: create graphql directory in backend
  file:
    state: directory
    path: "{{ workspace.stdout }}/src/main/resources/graphql"

- name: create yaml directory in backend
  file:
    state: directory
    path: "{{ workspace.stdout }}/src/main/resources/yaml"

- name: copy schema from frontend to resources
  get_url:
    url: "https://raw.githubusercontent.com/CBIIT/bento-frontend/{{ bento_api_version }}/graphql/{{ schema_file }}"
    dest: "{{ workspace.stdout }}/src/main/resources/graphql/{{ schema_file }}"

- name: copy test queries from frontend to resources
  get_url:
    url: "https://raw.githubusercontent.com/CBIIT/bento-frontend/{{ bento_api_version }}/yaml/{{ test_queries_file }}"
    dest: "{{ workspace.stdout }}/src/main/resources/yaml/{{ test_queries_file }}"

- name: build springboot code
  command: mvn package -DskipTests
  args:
    chdir: "{{ workspace.stdout }}"

- name: copy Bento-0.0.1.war to ROOT.war
  copy:
    remote_src: yes
    src: "{{ workspace.stdout }}/target/Bento-0.0.1.war"
    dest: "{{ workspace.stdout }}/target/ROOT.war"

- name: log into DockerHub
  docker_login:
    username: "{{docker_user}}"
    password: "{{docker_password}}"

#- name: push tag: {{ bento_api_version }}-{{ project }}-{{ build_number }}
#  docker_image:
#    build:
#      path: "{{ workspace.stdout }}"
#      dockerfile: "./devops/dockerfiles/backend-dockerfile"
#      pull: yes
#      nocache: yes
#    name: cbiitssrepo/{{ project }}-backend
#    tag: "{{ bento_api_version }}-{{ build_number }}"
#    push: yes
#    force_source: yes
#    source: build

#- name: build cbiitssrepo/{{ project }}-backend image
#  docker_image:
#    build:
#      path: "{{ workspace.stdout }}"
#      dockerfile: "./devops/dockerfiles/backend-dockerfile"
#      pull: yes
#      nocache: yes
#    name: cbiitssrepo/{{ project }}-backend
#    tag: "{{ bento_api_version }}-{{ build_number }}"
#    push: yes
#    force_source: yes
#    source: build

#- name: Add tag latest to cbiitssrepo/{{ project }}-backend image
#  docker_image:
#    name: "cbiitssrepo/{{ project }}-backend:{{ bento_api_version }}-{{ build_number }}"
#    repository: cbiitssrepo/{{ project }}-backend:latest
#    force_tag: yes
#    push: yes
#    source: local