version: '3.1'
services:
  match:
    container_name: icdc_demo
    image: cbiitssrepo/tomcat9
    ports:
      - 8080:8080
    volumes:
      - {{ icdc_demo_home }}/logs:/usr/local/tomcat/logs
    restart: always
    environment:
      - NEW_RELIC_LICENSE_KEY={{ newrelic_license_key }}
      - NEW_RELIC_APP_NAME={{ app_name }}

