#This is the name of the project
PROJECT=

#This is the name of the application tier
TIER=

#This is a port number for the bento-frontend 
FRONTEND_CONTAINER_PORT=80

#This a port number for bento-backend
BACKEND_CONTAINER_PORT=8080

#name of the ssh key imported in the deployment instruction
SSH_KEY_NAME=

#specify the aws compute instance type for the bento
FRONTEND_INSTANCE_TYPE=t3.medium

#specify the aws compute instance type for the database
DATABASE_INSTANCE_TYPE=c5.xlarge

#id of the ami to use for the database instance
DATABASE_AMI_ID=ami-0affd4508a5d2481b

#specify domain name
DOMAIN_NAME=

#specify the maximum and minimun number of instances in auto-scalling group
MAX_SIZE=1
MIN_SIZE=1

#define any tags appropriate to your environment
TAGS=

#specify vpc cidr 
VPC_CIDR_BLOCK=