name = {{ collector_name }}
accessid = {{ sumo_access_id }}
accesskey = {{ sumo_access_key }}
ephemeral = true
clobber = true
syncSources = /opt/SumoCollector/config/sources.json
skipAccessKeyRemoval = true
