spring.mvc.throw-exception-if-no-handler-found=true
neo4j.graphql.endpoint=http://{{neo4j_ip}}:7474/graphql/
neo4j.graphql.endpoint.schema_endpoint=idl/
graphql.schema=graphql/{{schema_file}}
neo4j.authorization={{bearer}}
spring.mvc.view.prefix=/WEB-INF/
spring.mvc.view.suffix=.jsp
error.redirect_url=http://localhost/error.html
allow_graphql_query = true
allow_graphql_mutation =false
cache.enabled=true
cache.time_to_live_min=360
cache.max_size_mb=500
cache.sweep_frequency_min=15