#API Version
bento.api.version={{bento_api_version}}

#Spring
spring.mvc.throw-exception-if-no-handler-found=true
spring.mvc.view.prefix=/WEB-INF/
spring.mvc.view.suffix=.jsp
error.redirect_url=http://localhost/error.html

#Neo4j
# following properties will be read from environment variables
# neo4j.url =
# neo4j.user =
# neo4j.password =

#GraphQL
graphql.schema=graphql/{{schema_file}}
graphql.redis_schema=graphql/{{redis_schema_file}}

#Query Restrictions
allow_graphql_query = true
allow_graphql_mutation =false

#Redis Caching
# following properties will be read from environment variables
# redis.enable =
# redis.use_cluster =
# redis.host =
# redis.port =
redis.ttl=-1

#Redis Filtering
# following properties will be read from environment variables
# redis.filter.enable =
redis.filter.init_queries_file = yaml/{{redis_init_queries_file}}

#Testing
test.queries_file = yaml/{{test_queries_file}}