---
- name: set dev environment facts
  set_fact:
    neo4j_ip: "{{ lookup('env','NEO4J_DEV_IP') }}"
    bearer: "{{ lookup('env','BEARER') }}"
  when: tier == "dev"

- name: set qa environment facts
  set_fact:
    neo4j_ip: "{{ lookup('env','NEO4J_QA_IP') }}"
    bearer: "{{ lookup('env','BEARER') }}"
  when: tier == "qa"

- name: set stage environment facts
  set_fact:
    neo4j_ip: "{{ lookup('env','NEO4J_PERF_IP') }}"
    bearer: "{{ lookup('env','BEARER') }}"
  when: tier == "perf"

- name: set prod environment facts
  set_fact:
    neo4j_ip: "{{ lookup('env','NEO4J_PROD_IP') }}"
    bearer: "{{ lookup('env','BEARER') }}"
  when: tier == "prod"

#### bento-icdc changes #########################################################################################################
- name: set icdc environment facts
  set_fact:
    neo4j_ip: "{{ lookup('env','NEO4J_ICDC_IP') }}"
    bearer: "{{ lookup('env','BEARER') }}"
  when: tier == "icdc"
#################################################################################################################################

- name: get backend commit ID
  shell: git rev-parse HEAD
  args:
    chdir: "{{workspace}}"
  register: backend_tag

- name: get frontend commit ID
  shell: git rev-parse HEAD
  args:
    chdir: "{{workspace}}/bento-frontend"
  register: frontend_tag

- name: echo backend tag
  debug:
    msg: "{{ backend_tag.stdout_lines }}"

- name: echo frontend tag
  debug:
    msg: "{{ frontend_tag.stdout_lines }}"

- name: remove the application_example.properties file 
  file:
    path: "{{workspace}}/src/main/resources/application_example.properties"
    state: absent

- name: copy application.properties file to /src/main/resources/
  template:
    src: "{{workspace}}/src/main/resources/application.properties.j2"
    dest: "{{workspace}}/src/main/resources/application.properties"

- name: create graphql directory in backend
  file:
    state: directory
    path: "{{workspace}}/src/main/resources/graphql"

- name: create yaml directory in backend
  file:
    state: directory
    path: "{{workspace}}/src/main/resources/yaml"

- name: copy schema from frontend to resources
  template:
    src: "{{workspace}}/bento-frontend/graphql/{{ schema_file }}"
    dest: "{{workspace}}/src/main/resources/graphql/{{ schema_file }}"

- name: echo redis_schema_file
  debug:
    var: redis_schema_file

- name: verify redis schema file exists
  stat:
    path: "{{workspace}}/bento-frontend/graphql/{{ redis_schema_file }}"
  register: redis_schema

- name: verify redis init queries file exists
  stat:
    path: "{{workspace}}/bento-frontend/yaml/{{ redis_init_queries_file }}"
  register: redis_queries

- name: verify test queries file exists
  stat:
    path: "{{workspace}}/bento-frontend/yaml/{{ test_queries_file }}"
  register: test_queries

- name: copy redis schema from frontend to resources
  template:
    src: "{{workspace}}/bento-frontend/graphql/{{ redis_schema_file }}"
    dest: "{{workspace}}/src/main/resources/graphql/{{ redis_schema_file }}"
  when: redis_schema.stat.exists

- name: copy redis init queries from frontend to resources
  template:
    src: "{{workspace}}/bento-frontend/yaml/{{ redis_init_queries_file }}"
    dest: "{{workspace}}/src/main/resources/yaml/{{ redis_init_queries_file }}"
  when: redis_queries.stat.exists

- name: copy test queries from frontend to resources
  template:
    src: "{{workspace}}/bento-frontend/yaml/{{ test_queries_file }}"
    dest: "{{workspace}}/src/main/resources/yaml/{{ test_queries_file }}"
  when: test_queries.stat.exists

- name: build springboot code
  command: mvn package -DskipTests
  args:
    chdir: "{{workspace}}"

- name: copy Bento-0.0.1.war to api.war
  copy:
    remote_src: yes
    src: "{{workspace}}/target/Bento-0.0.1.war"
    dest: "{{workspace}}/target/ROOT.war"

- name: log into DockerHub
  docker_login:
    username: "{{docker_user}}"
    password: "{{docker_password}}"

- name: build cbiitssrepo/bento-backend image
  docker_image:
    build:
      path: "{{workspace}}"
      dockerfile: "{{workspace}}/icdc-devops/docker/dockerfiles/backend-dockerfile"
      pull: yes
      nocache: yes
    name: cbiitssrepo/bento-backend
    tag: "{{backend_version}}-{{build_number}}"
    push: yes
    force_source: yes
    source: build

- name: Add tag latest to cbiitssrepo/bento-backend image
  docker_image:
    name: "cbiitssrepo/bento-backend:{{backend_version}}-{{build_number}}"
    repository: cbiitssrepo/bento-backend:latest
    force_tag: yes
    push: yes
    source: local
###########################################
- name: remove .env
  file:
    state: absent
    path: "{{workspace}}/bento-frontend/.env"

- name: copy entrypoint.sh to workspace
  copy:
    src: "nginx-entrypoint.sh"
    dest: "{{workspace}}/bento-frontend/nginx-entrypoint.sh"
    mode: 0755
# - name: copy environment file to {{workspace}}/bento-frontend
#   template:
#     src: env.j2
#     dest: "{{workspace}}/bento-frontend/.env"
- name: run npm install in {{workspace}}/bento-frontend/
  command: "{{item}}"
  args:
    chdir: "{{workspace}}/bento-frontend"
  loop:
    - npm install npm@latest -g
    - npm install
    - npm run build

- name: copy env to dist
  copy:
    # remote_src: yes
    src: inject.template.js
    dest: "{{workspace}}/bento-frontend/dist/inject.template.js"
    mode: 0755
          
- name: build cbiitssrepo/bento-frontend image
  docker_image:
    build:
      path: "{{workspace}}/bento-frontend"
      dockerfile: "{{workspace}}/icdc-devops/docker/dockerfiles/frontend-icdc-dockerfile"
      pull: yes
      nocache: yes
    name: cbiitssrepo/bento-frontend
    tag: "{{frontend_version}}-{{build_number}}"
    push: yes
    force_source: yes
    source: build

- name: Add tag latest to cbiitssrepo/bento-frontend image
  docker_image:
    name: "cbiitssrepo/bento-frontend:{{frontend_version}}-{{build_number}}"
    repository: cbiitssrepo/bento-frontend:latest
    force_tag: yes
    push: yes
    source: local

# - name: post schemas
#   uri:
#     url: http://{{neo4j_ip}}:7474/graphql/idl/
#     method: POST
#     body: "{{ lookup('file','{{workspace}}/src/main/resources/graphql/bento-extended.graphql') }}"
#     headers:
#       Accept: "application/json"
#       Authorization: "{{bearer}}"
#   register: schema

# - name: post schema
#   command: "curl -X POST http://{{neo4j_ip}}:7474/graphql/idl/ -H 'Accept: application/json' -H 'Authorization: {{bearer}}' -d @{{workspace}}/bento-backend/src/main/resources/graphql/ctdc.graphql"
#   register: schema



    