jsch
configuration-as-code
configuration-as-code-groovy
ws-cleanup
description-setter
structs
conditional-buildstep
apache-httpcomponents-client-4-api
subversion
pipeline-model-extensions
ansible-tower
build-with-parameters
workflow-aggregator
mailer
git
parameterized-scheduler
command-launcher
workflow-api
extended-choice-parameter
workflow-job
ssh-credentials
authentication-tokens
github-branch-source
javadoc
workflow-cps-global-lib
jackson2-api
docker-workflow
pipeline-stage-tags-metadata
pipeline-milestone-step
credentials
docker-java-api
jquery
github
lockable-resources
jquery-detached
envinject-api
workflow-scm-step
ansicolor
matrix-auth
matrix-project
pipeline-stage-step
pipeline-build-step
antisamy-markup-formatter
pipeline-input-step
filesystem-list-parameter-plugin
ant
bouncycastle-api
handlebars
pipeline-github-lib
momentjs
plain-credentials
docker-commons
aws-java-sdk
docker-plugin
git-client
timestamper
gradle
envinject
pipeline-rest-api
workflow-basic-steps
github-api
ldap
maven-plugin
aws-credentials
credentials-binding
pipeline-model-definition
pipeline-stage-view
seed
token-macro
ansible
workflow-multibranch
script-security
git-server
pipeline-model-declarative-agent
workflow-step-api
run-condition
rebuild
pipeline-graph-analysis
uno-choice
matrix-combinations-parameter
pipeline-model-api
extensible-choice-parameter
workflow-cps
workflow-durable-task-step
trilead-api
role-strategy
branch-api
jdk-tool
cloudbees-folder
Parameterized-Remote-Trigger
job-dsl
durable-task
junit
pam-auth
scm-api
ace-editor
display-url-api
workflow-support
resource-disposer
build-timeout
mapdb-api
git-parameter
ssh-slaves
warnings
copyartifact
htmlpublisher
parameterized-trigger
slack
email-ext
text-finder
pretested-integration
github-oauth
deploy
preSCMbuildstep
list-git-branches-parameter