spring.mvc.throw-exception-if-no-handler-found=true
neo4j.graphql.endpoint=http://{{neo4j_ip}}:7474/graphql/
neo4j.graphql.endpoint.schema_endpoint=idl/
graphql.schema=graphql/bento-extended.graphql
neo4j.authorization={{bearer}}
spring.mvc.view.prefix=/WEB-INF/
spring.mvc.view.suffix=.jsp
error.redirect_url=http://localhost/error.html
allow_grapqh_query = true
allow_graphql_mutation =false