{% if tier == "prod"  %}
[
  {
        "Field": "path-pattern",
        "PathPatternConfig": {
            "Values": ["/v1/graphql/*"]
        }
    }
]
{% else %}
[
  
  {
        "Field": "path-pattern",
        "PathPatternConfig": {
            "Values": ["/v1/graphql/*"]
        }
    }
]
{% endif %}
