{% if tier == "prod"  %}
[
  {
      "Field": "source-ip",
      "SourceIpConfig": {
          "Values": [
          "10.208.0.0/21",
          "10.128.0.0/9",
          "10.133.0.0/16"
          ]
      }
  },
  {
      "Field": "host-header",
      "HostHeaderConfig": {
          "Values": ["caninecommons.cancer.gov"]
      }
  },
  {
        "Field": "path-pattern",
        "PathPatternConfig": {
            "Values": ["/v1/graphql/*"]
        }
    }
]
{% else %}
[
  
  {
      "Field": "source-ip",
      "SourceIpConfig": {
          "Values": [
          "10.208.0.0/21",
          "10.128.0.0/9",
          "10.133.0.0/16"
          ]
      }
  },
  {
      "Field": "host-header",
      "HostHeaderConfig": {
          "Values": ["caninecommons-{{tier}}.cancer.gov"]
      }
  },
  {
        "Field": "path-pattern",
        "PathPatternConfig": {
            "Values": ["/v1/graphql/*"]
        }
    }
]
{% endif %}
