{% if tier == "prod"  %}
[
  {
      "Field": "source-ip",
      "SourceIpConfig": {
          "Values": ["10.243.144.0/18"]
      }
  },
  {
      "Field": "host-header",
      "HostHeaderConfig": {
          "Values": ["caninecommons.cancer.gov"]
      }
  },
  {
        "Field": "path-pattern",
        "PathPatternConfig": {
            "Values": ["/v1/graphql/*"]
        }
    }
]
{% else %}
[
  
  {
      "Field": "source-ip",
      "SourceIpConfig": {
          "Values": ["10.243.144.0/18"]
      }
  },
  {
      "Field": "host-header",
      "HostHeaderConfig": {
          "Values": ["caninecommons-{{tier}}.cancer.gov"]
      }
  },
  {
        "Field": "path-pattern",
        "PathPatternConfig": {
            "Values": ["/v1/graphql/*"]
        }
    }
]
{% endif %}
