[
    {
        "Type": "fixed-response",
        "FixedResponseConfig": {
            "MessageBody": "{{response_text}}",
            "StatusCode": "200",
            "ContentType": "text/html"
        }
    }
]
