{% if tier == "prod"  %}
[
  {
      "Field": "host-header",
      "HostHeaderConfig": {
          "Values": ["caninecommons.nci.nih.gov"]
      }
  },
  {
        "Field": "path-pattern",
        "PathPatternConfig": {
            "Values": ["/*"]
        }
    }
]
{% else %}
[
  {
      "Field": "host-header",
      "HostHeaderConfig": {
          "Values": ["caninecommons-{{tier}}.nci.nih.gov"]
      }
  },
  {
        "Field": "path-pattern",
        "PathPatternConfig": {
            "Values": ["/*"]
        }
    }
]
{% endif %}
