{% if tier == "prod"  %}
[
  {
      "Field": "source-ip",
      "SourceIpConfig": {
          "Values": [
          "10.243.214.105/32",
          "10.243.92.231/32"
          ]
      }
  },
  {
      "Field": "host-header",
      "HostHeaderConfig": {
          "Values": ["caninecommons.cancer.gov"]
      }
  },
  {
        "Field": "path-pattern",
        "PathPatternConfig": {
            "Values": ["/*"]
        }
    }
]
{% else %}
[
  {
      "Field": "source-ip",
      "SourceIpConfig": {
          "Values": [
          "10.243.214.105/32",
          "10.243.92.231/32"
          ]
      }
  },
  {
      "Field": "host-header",
      "HostHeaderConfig": {
          "Values": ["caninecommons-{{tier}}.cancer.gov"]
      }
  },
  {
        "Field": "path-pattern",
        "PathPatternConfig": {
            "Values": ["/*"]
        }
    }
]
{% endif %}
