{% if tier == "prod"  %}
[
  {
        "Field": "path-pattern",
        "PathPatternConfig": {
            "Values": ["/*"]
        }
    }
]
{% else %}
[
  {
        "Field": "path-pattern",
        "PathPatternConfig": {
            "Values": ["/*"]
        }
    }
]
{% endif %}
