- name: ctdc build pipeline
  hosts: bento
  connection: local
  gather_facts: no
  become: yes

  tasks:
    #install collections
    - name: install aws collection
      command: ansible-galaxy collection install {{item}}
      loop:
        -  community.docker
        -  git+https://github.com/CBIIT/icdc-devops.git#/ansible/ansible_collections/bento/common/,master

    #docker login
    - name: docker login
      include_role:
        name: bento.common.ecr_login
      vars:
        region: us-east-1

    #build files
    - name: build stage for ctdc files
      include_role:
        name: bento.common.build_files
      vars:
        ansible_python_interpreter: /usr/bin/python3
        workspace: "{{ lookup('env','WORKSPACE') }}"
        build_number: "{{ lookup('env','BUILD_NUMBER')}}"
        project_name: "{{ lookup('env','PROJECT_NAME') }}"
        image_version: "{{ lookup('env','DOWNLOADER_VERSION') }}"
        container_name: "files"
        container_build_path: "{{ workspace }}/{{ project_name }}-files"
        dockerfile_path: "{{ workspace }}/icdc-devops/docker/dockerfiles/filedownload-dockerfile"
        container_registry_url: "{{ ecr_repo }}"