---
- name: gmb etl
  hosts: loader
  connection: local
  gather_facts: yes
  become: yes

  tasks:
    - name: perform data transformation
      include_role:
        name: gmb-etl
        tasks_from: transform
      vars:
        ansible_python_interpreter: /usr/bin/python3
