---
- name: cds backend deploy pipeline
  hosts: bento
  connection: local
  gather_facts: yes
    
  tasks:
    - name: deploy auth
      include_role:
        name: bento-cds
        tasks_from: deploy-auth
      vars:
        ansible_python_interpreter: /usr/bin/python3