#Host ncits-p046-v
#    User                   aadonkorvn
#    HostName               ncits-p046-v
#    ProxyCommand           none
#    IdentityFile           ~/.ssh/id_rsa
#    BatchMode              yes
#    PasswordAuthentication no

Host *
    ServerAliveInterval    60
    TCPKeepAlive           yes
#    ProxyCommand           ssh -q -A aadonkorvn@ncits-p046-v nc %h %p
    ControlMaster          auto
#    ControlPath            ~/.ssh/mux-%r@%h:%p
    ControlPersist         8h
#    IdentityFile           ~/.ssh/id_rsa
    StrictHostKeyChecking  no
