version: '3'
services:
  auth0:
    image: {{ecr}}/comets:apache-{{version}}
    container_name: apache
    ports:
      - "443:443"
    links:
      - app
    depends_on:
      - app
  app:
    image: "{{ecr}}/comets:app-{{version}}"
    container_name: app
    restart: always
    depends_on:
      - activemq
    links:
      - activemq
    ports:
      - "8000:8000"
    volumes:
      - {{app_base_directory}}/logs:/deploy/logs
  activemq:
    image: "cbiitss/activemq:latest"
    container_name: activemq
    restart: always
    ports:
      - "8161:8161"
      - "61613:61613"