# Docker env vars for accessing database.

# Environment file format reference:
# https://docs.docker.com/engine/reference/commandline/run/#set-environment-variables--e---env---env-file

# User for database read-only access.
#
# Note that password cannot contain : or \ for simplicity.
# https://www.postgresql.org/docs/current/libpq-pgpass.html
DB_USERNAME={{ db_user }}
DB_PASSWORD={{ db_password }}