# Docker env vars for loading database.

# User for loading database with read-write access.
#
# Note that password cannot contain : or \ for simplicity.
# Ref: https://www.postgresql.org/docs/current/libpq-pgpass.html
DB_READ_WRITE_USERNAME={{ db_user }}
DB_READ_WRITE_PASSWORD={{ db_password }}

# The following env vars in this file cannot be changed without modifying
# other files, because various commands and scripts assume that they have the
# following values.

# postgres docker image env vars.
#
# Ref: https://hub.docker.com/_/postgres
POSTGRES_USER={{ db_user }}
POSTGRES_DB=postgres
POSTGRES_PASSWORD={{ db_password }}

POSTGRES_HOST_AUTH_METHOD=scram-sha-256
POSTGRES_INITDB_ARGS=--auth-local=scram-sha-256 --auth-host=scram-sha-256

# Path to the directory that contain database build outputs in container.
BUILD_OUTPUT_DIR_PATH=/home/open-ped-can-api-db/db/build_outputs
