---
- name: log into DockerHub
  docker_login:
    username: "{{ docker_user }}"
    password: "{{ docker_password }}"
    registry: https://ncidockerhub.nci.nih.gov
    
- name: verify host
  file: 
    path: /tmp/myworkspace
    state: directory


###################################################################

# - name: remove frontend container
#   docker_container:
#     name: frontend
#     state: absent

# - name: remove backend container
#   docker_container:
#     name: backend
#     state: absent

- name: clean up 
  shell: docker system prune -a -f

- name: ensure /local/content/docker exists
  file: 
    path: /local/content/docker
    state: directory

- name: update serivces and compose files
  template:
    src: "{{item.src}}"
    dest: "{{item.dest}}"
  loop:
    - {src: 'app.yml.j2',dest: '/local/content/docker/app.yml'}
    - {src: 'app.service.j2',dest: '/etc/systemd/system/app.service'}
    - {src: 'app.timer.j2',dest: '/etc/systemd/system/app.timer'}

- name: start frontend and backend containers
  docker_compose:
    project_src: /local/content/docker
    files: app.yml
    state: present

- name: reload systemd 
  systemd:
    daemon_reload: yes

- name: enable log-agents and app.timer services
  service:
    name: app.timer
    enabled: yes

- name: ensure app.service is disabled
  service:
    name: app.service
    enabled: no


- name: "wait for {{ frontend_url }} to become available"
  uri:
   url: "{{ frontend_url }}"
   follow_redirects: none
   method: GET
  register: _result
  until: ('status' in _result) and (_result.status == 200)
  retries: 100
  delay: 10



