DOCKER_AGENT_IP={{ docker_agent_ip }}
TOMCAT01_IP={{ tomcat01_ip }}
TOMCAT02_IP={{ tomcat02_ip }}
NEO4J_IP={{ neo4j_ip }}
SLACK_URL={{ slack_url }}
jenkinsAdmin={{ jenkinsadmin_ps }}
bearer={{ bearer_ps }}
vdonkor={{ vdonkor_ps }}
neo4j={{ neo4j_ps }}


