version: '3.4'
services:

################################################
# backend container
################################################
  bento-backend:
    container_name: backend
    image: ncidockerhub.nci.nih.gov/icdc/icdc-backend:{{backend_version}}
    environment:
      NEW_RELIC_LICENSE_KEY: "{{ newrelic_license_key }}"
      NEW_RELIC_APP_NAME: "{{ app_name }}-backend-{{ inventory_hostname }}"
      NEW_RELIC_DISTRIBUTED_TRACING_ENABLED: "true"
      NEW_RELIC_HOST: "gov-collector.newrelic.com"
      NEW_RELIC_LOG_FILE_NAME: "STDOUT"
      NEO4J_GRAPHQL_ENDPOINT: http://{{ neo4j_ip }}:7474/graphql/
      NEO4J_AUTHORIZATION: "{{ neo4j_bearer }}"
      REDIS_HOST: "{{ redis_host[tier] }}"
      JAVA_OPTS: "-javaagent:/usr/local/tomcat/newrelic/newrelic.jar"
    volumes:
      - /local/content/k9dc/logs:/usr/local/tomcat/logs
    ports:
      - "8080:8080"
    restart: always

##########################################################
# frontend container
##########################################################   

  bento-frontend:
    container_name: frontend
    image: ncidockerhub.nci.nih.gov/icdc/icdc-frontend:{{frontend_version}}
    environment:
      REACT_APP_BACKEND_GETUSERINFO_API: "{{ backend_user_info }}"
      REACT_APP_LOGIN_URL: "{{ backend_fence_login }}"
      REACT_APP_USER_LOGOUT_URL: "{{ backend_fence_logout }}"
      REACT_APP_BACKEND_API: "{% if tier == 'prod' %}https://caninecommons.cancer.gov/v1/graphql/{% else %}https://caninecommons-{{ tier }}.cancer.gov/v1/graphql/{% endif %}"
      REACT_APP_ABOUT_CONTENT_URL: "{{ backend_content_url }}"
      REACT_APP_BE_VERSION: "{{ bento_api_version }}"
      REACT_APP_FE_VERSION: "{{ backend_frontend_version }}"
      REACT_APP_GA_TRACKING_ID: "{{ backend_google_analytics_id }}"
      NEW_RELIC_LICENSE_KEY: "{{ newrelic_license_key }}"
      NEW_RELIC_APP_NAME: "{{ app_name }}-frontend-{{ inventory_hostname }}"
      NEW_RELIC_DISTRIBUTED_TRACING_ENABLED: "true"
      NEW_RELIC_HOST: "gov-collector.newrelic.com"
      NEW_RELIC_NO_CONFIG_FILE: "true"        
    volumes:
      - "/local/content/k9dc/nginx:/var/log/nginx"
    ports:
      - "80:80"
    restart: always
