NEW_RELIC_LICENSE_KEY={{ newrelic_license_key }}
NEW_RELIC_APP_NAME={{ app_name }}-backend-{{ inventory_hostname }}
NEW_RELIC_DISTRIBUTED_TRACING_ENABLED=true
NEW_RELIC_HOST=gov-collector.newrelic.com
NEW_RELIC_LOG_FILE_NAME=STDOUT
JAVA_OPTS="-javaagent:/usr/local/tomcat/newrelic/newrelic.jar"