[Unit]
Description=Docker Container %I
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker rm -f %i 
ExecStart=/usr/bin/docker run --name %i \
--restart=on-failure:10 \
--publish 8080:8080 \
--env-file=/local/content/docker/backend.env \
--log-driver: syslog \
--log-op syslog-address: tcp://{{ syslog_host }}:514 \
--log-op tag: "{{ app_name }}-backend" \
--log-op syslog-format: "rfc5424micro" \
ncidockerhub.nci.nih.gov/icdc/icdc-backend:{{build_number}} 
ExecStop=/usr/bin/docker stop %i

[Install]
WantedBy=default.target